:root {
    font-size: 10px;
}

/* Grid for the header */
.img_reservia {
    grid-area: img_reservia;
    width: 50%;
    height: auto;
}

.inscription {
    grid-area: inscription;
    color: #0065fc;
    font-weight: bold;
}

.hebergements {
    grid-area: hebergement;
}
.hebergements:active {
    color: #0065fc;
}

.activity {
    grid-area: activity;
}

#nav_primary ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    grid-template-areas:
        "img_reservia inscription"
        "hebergement activity";
    align-items: center;
    justify-items: center;
    font-size: 1.7rem;
}
/* Form CSS */
form {
   padding-left: 1.5rem;
    padding-top: 1.5rem;
}
.filter {
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.information {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
form h1 {
    font-size: 2.2rem;
    line-height: normal;
}
form p {
    font-size: 1.6rem;
}
form button {
    border-radius: 2rem;
    font-size: 1.6rem;
    border: 0.1rem grey solid;
    margin: 0.5rem;
}
form  .economique > i{
    color: #0065fc;
    padding-right: 1rem;
}
