#populary figure img {
    width: 30%;
}

/* grid for section rental */
#hebergement {
    grid-area: rental_title;
}

#cannebiere {
    grid-area: rental_card_one;
}

#port {
    grid-area: rental_card_two;
}

#mouettes {
    grid-area: rental_card_three;
}

#mer {
    grid-area: rental_card_four;
}

#panier {
    grid-area: rental_card_five;
}
#amina {
    grid-area: rental_card_six;
}

#plus {
    grid-area: rental_plus;
}

#rental {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3rem;
    grid-template-areas:
    "rental_title rental_title"
    "rental_card_one rental_card_two"
    "rental_card_three rental_card_four"
    "rental_card_five rental_card_six"
    "rental_plus rental_plus";
}

/* grid for section activity */
#touristic h3 {
    grid-area: touristic_title;
}

#touristic a:nth-child(2) {
    grid-area: touristic_card_one;
}

#touristic a:nth-child(3) {
    grid-area: touristic_card_two;
}

#touristic a:nth-child(4) {
    grid-area: touristic_card_three;
}

#touristic a:nth-child(5) {
    grid-area: touristic_card_four;
}

#touristic a:nth-child(6) {
    grid-area: touristic_card_five;
}

#touristic a:nth-child(7) {
    grid-area: touristic_card_six;
}

#touristic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3rem;
    grid-template-areas:
    "touristic_title touristic_title"
    "touristic_card_one touristic_card_two"
    "touristic_card_three touristic_card_four"
    "touristic_card_five touristic_card_six";
}

/* footer grid */

#about {
    grid-area: about;
}

#accommodations {
    grid-area: accommodations;
}

#assistance {
    grid-area: assistance;
}

#list_assistance {
    grid-area: list_assistance;
}

#list_about {
    grid-area: list_about;
}

#list_accomodations {
    grid-area: list_accomodations;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 0;
    grid-template-areas:
    "about accommodations assistance"
    "list_about list_accomodations list_assistance";
}
